@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
display: flex;
flex-wrap: wrap;
}

body {
background: #372e29;

}


div{
  height: 25vh;
}

input{
  width: 100%;
  height: 100%;
  background: #ecb939;
  color: #5D4037;
  font-size: 8rem;
  text-align: center;
  caret-color: #726255;
  flex-shrink: 0;
}

::placeholder {
  color: #726255;
  font-size: 20vw;
  flex-shrink: 0;
  font-weight: 500;
  }

input[type="number"] {
-moz-appearance: textfield;
}
